* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Ruda", sans-serif;
}
* a {
    color: black;
  }

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header-title {
    color: #ffffff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bg-personalizado {
    background: radial-gradient(circle, hsla(225, 100%, 50%, 1) 0%, rgb(5, 31, 116) 100%);
    padding: 4rem;
}

.puntuaciones {
    border: 3px solid white;
    background-color: black;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}


.puntajes {
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    padding:4px 10px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

#user-text {
    position: absolute;
    top: 25px;
    left:-35px;
}
#comp-text {
    position: absolute;
    top: 25px;
    right:-25px;
}

.resultados {
    margin-top: 3rem;
    margin-bottom:2rem  ;
    font-size: 40px;
    color: white;
}

.resultados > p {
    text-align: center;
    font-weight: bold;
}

.opciones {
    text-align: center;
    margin:30px;
}

.opcion {
    border: 5px solid white;
    border-radius: 100%;
    padding: 15px;
    display: inline-block;
    margin: 15px;
}

.opcion:hover {
    cursor:pointer;
    background: #4c515f;
    transition: all 0.3s ease-in-out;
}

#mensaje {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}